<div class="row">
        <div class="logo col-xl-12 ">
                <% nameList.forEach( function(model) { %>
                    <span class="h1" style="margin-right:20px;"><%=model%></span>
                    <%});%>
        </div>
        
    </div>